<html>
  <head>
    <title>Road Battle!</title>
    <style>
      body {
        background-image: url('/images/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        background-color:rgb(40, 40, 40);
      }
      </style>
  </head>
  <body>
    <br>
    <div name="title" style="text-align:center; font-family: fantasy; color: red; font-size:70pt; font-weight: bold;">
      ROAD BATTLE!<br>
    </div>
    <p style="text-align: center; font-family: fantasy; font-size: 28pt;">Two warriors meet on a road. Only one can survive!</p>
    <div name="new_game" style="background: rgba(0, 0, 0, 0.5); width:20%; margin-left: auto; margin-right: auto;color: white; text-align: center; font-family: fantasy;"> 
      <h1>Start new game</h1>

      <form action="/names" method="post">
        <label for="player_1_name">Player 1:</label>
        <input type="text" name="player_1_name"><br><br>
        <label for="player_2_name">Player 2:</label>
        <input type="text" name="player_2_name"><br><br>
        <input type="submit" value="Go!" style="font-size:200%;"><br><br>
      </form>
    </div>
  </body>
</html>
