<%= @player_1.name %> vs <%= @player_2.name %>
<br><br>
<%= @player_2.name %>: <%= @player_2.hitpoints %>HP
<br><br>
<form action="/attack" method="get">
<input type="submit" name="action" value="Attack!">
</form>